@model IEnumerable<eUseControl.Domain.Entities.Products.Product>
@using eUseControl.Web.Extensions
@{
    ViewBag.Title = "ListProducts";
    Layout = "~/Views/Shared/Layouts/_Admin.cshtml";
}

<h2>ListProducts</h2>

<p>
    @Html.ActionLink("Create New", "AddProduct")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.ProductName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.BrandName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Description)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.RegularPrice)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.PromotionalPrice)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Category)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Images)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Sizes)
        </th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.ProductName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.BrandName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Description)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.RegularPrice)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.PromotionalPrice)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Category)
            </td>
            <td>
                <img src="@Html.DisplayFor(modelItem => item.Thumbnail)" style="max-width: 150px;" />
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Sizes)
            </td>
            <td>
                @Html.ActionLink("Edit", "AddProduct", new { id = item.Id }) |
                @Html.ActionLink("Delete", "DeleteProduct", new { id = item.Id })
            </td>
        </tr>
    }

</table>
